.pattern{
    height: 70px;
    background-color: rgb(83, 145, 243);
    background-image: url(../img/pattern.png);
    background-size: 260px;
    background-repeat:repeat-x;
    margin:0;
    position: relative;
}
body{
    margin: 0;
}
.container{
    width: 80%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
header img{
    height: 30px;
    position: absolute;
    bottom: 10px;
}

.title{
    margin-bottom: 0;
    font-size: 50px;
}


.author {
    margin-bottom: 15px;
    font-size: 25px;
    font-style:normal;
}

.author p, .author h6{
    margin: 0;
    color: lightslategray;
   
}

.author span{
    color: rgb(18, 175, 247);
}
.footnote{
    margin-top: 0;
    font-style:normal;
    font-size: 10px;
}
.highlighted{
   background-color: yellow;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    border-spacing: 5px; 
    padding: 10px;
}
table thead tr {
   background-color: rgb(0, 174, 255);
   color: white;
   font-size: 10px;
   text-align: left;
}
table tbody tr{
      background-color: rgba(22, 238, 254, 0.758);
}
table tbody tr:nth-child(even){
    background-color: white;
}
table tbody td{
    font-size: 15px;
}

.end{
    color: rgba(119, 136, 153, 0.816);
    font-weight:bold;
}
.monitor{
    position: relative;
}
.title-images{
    position: absolute;
    top: 0;
    color: white;
    font-size: 20px;
}





